.design {
  position: relative;
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-white, 0.6),
      rgba($color-white, 0.6)
    ),
    url(../img/unique-design-bg.png);
  padding-top: 6rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    text-align: center;
  }

  &__img {
    display: inline-block;

    margin: 0 auto;
    img {
      max-width: 60%;
      display: block;
      margin: 0 auto;
    }
  }

  &__phone {
    position: absolute;
    bottom: 0;
    right: 25%;
    transform: translateY(20%);
  }
}
