.logos {
  grid-column: full-start / full-end;
  background-color: $color-gray-light;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  &__link {
    text-decoration: none;
  }

  &__img {
    max-width: 80%;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
