.map {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      to bottom,
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url(../img/map-bg.png);
  padding: 4rem;
  text-align: center;
  line-height: 1;

  &__link {
    text-decoration: none;
    color: $color-pink;
    fill: $color-pink;

    &:hover,
    &:active {
      color: $color-pink-dark-2;
      fill: $color-pink-dark-2;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
  }

  &__heading {
    margin: 1rem auto;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}
