.services {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 5rem;

  &__heading {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__service {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 0.7rem;
  }
}

.service {
  &__icon {
    height: 2.7rem;
    width: 2.7rem;
    grid-row: 1 / span 2;
    fill: $color-blue;
    transform: translateY(-2px);
  }
  &__text {
    margin-bottom: 2rem;
  }
}
