@mixin after-line {
  content: "";
  display: block;
  background-color: $color-pink;
  width: 5rem;
  height: 2px;
}

@mixin center-grid-row {
  grid-column: 1 / -1;
  text-align: center;
}

// BREAKPOINT MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900 px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200 px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800 px
      @content;
    }
  }
}
