// COLORS
$color-pink: #f38181;
$color-pink-dark-1: #f06262;
$color-pink-dark-2: #ed4343;
$color-yellow: #fce38a;
$color-blue: #95e1d3;
$color-gray-light: #f8f8f8;
$color-gray: #acacac;
$color-gray-dark: #8a8a8a;
$color-black: #000;
$color-white: #fff;

//FONT
$default-font-size: 1.6rem;
