.accordion {
  width: 100%;
  display: grid;
  grid-row-gap: 3rem;
  align-content: start;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(big-desktop) {
    grid-row-gap: 3.5rem;
  }

  &__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-column-gap: 2rem;
    padding: 1rem 1.5rem;
    align-items: center;
    border: 1px solid $color-gray;
    border-radius: 2px;
    box-shadow: 0 2px rgba($color-gray, 0.2);
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-blue;
  }

  &__heading {
    margin-right: auto;
    font-weight: 300;
    text-align: left;
  }

  &__btn {
    height: 2rem;
    width: 2rem;
    fill: $color-gray;
  }

  &__detail {
    width: 110%;
  }

  &__text {
    font-size: 1.4rem;
    margin-left: 0.5rem;
  }
}

.detail--collapsed {
  display: none;
}
