.client {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: start;
  justify-items: center;
  grid-gap: 2rem;

  &__img {
    max-width: 70%;
    border-radius: 50%;
  }

  &__name {
    color: $color-black;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }

  &__job {
    font-style: italic;

    &::after {
      @include after-line;
      margin: 1rem 0;
    }
  }

  &__quote {
    font-size: 9;
  }
}
