.section__margin {
  margin: 8rem 0;
}

.section__margin--small {
  margin: 4rem 0;
}

.section__padding {
  padding: 8rem 0;
}

.section__padding--small {
  padding: 5rem;
}

.section__description {
  grid-column: 1 / -1;
  text-align: center;
}
